<h1>Listing victims</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @victims.each do |victim| %>
      <tr>
        <td><%= victim.name %></td>
        <td><%= victim.age %></td>
        <td><%= victim.address %></td>
        <td><%= victim.date %></td>
        <td><%= link_to 'Show', victim %></td>
        <td><%= link_to 'Edit', edit_victim_path(victim) %></td>
        <td><%= link_to 'Destroy', victim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Victim', new_victim_path %>
