<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @victim.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @victim.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @victim.address %>
</p>

<p>
  <strong>Date:</strong>
  <%= @victim.date %>
</p>

<%= link_to 'Edit', edit_victim_path(@victim) %> |
<%= link_to 'Back', victims_path %>
